apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    hypercloud: single-operator
spec:
  selector:
    matchLabels:
      hypercloud: single-operator
  replicas: 1
  template:
    metadata:
      labels:
        hypercloud: single-operator
    spec:
      tolerations:
      - key: node-role.kubernetes.io/master
        operator: Equal
        effect: "NoSchedule"
      nodeSelector:
        kubernetes.io/hostname: master-1      
      dnsPolicy: "ClusterFirstWithHostNet"
      containers:
      - command:
        - /manager
        args:
        - --enable-leader-election
        image: controller:latest
        name: manager
        resources:
          limits:
            cpu: 100m
            memory: 30Mi
          requests:
            cpu: 100m
            memory: 20Mi
        volumeMounts:
        - name: operator-log-mnt
          mountPath: /logs    
      volumes:
      - name: operator-log-mnt
        emptyDir:
        #hostPath:
          #path: /root/woo/go-workspace/src/hypercloud-single-operator/logs
      terminationGracePeriodSeconds: 10
